NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_WHATSAPP_NUMBER=countrycodeandnumber
NEXT_PUBLIC_CONTACT_PHONE=
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_STUDIO_ADDRESS=
NEXT_PUBLIC_STUDIO_HOURS=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_BEHANCE_URL=
